<a href="https://colab.research.google.com/github/sm116327/DS/blob/main/Entrega%203.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Instalamos las librerías que necesitaremos a lo largo del notebook.

In [ ]:
pip install lightfm

Requirement already satisfied: lightfm in /usr/local/lib/python3.7/dist-packages (1.16)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from lightfm) (1.19.5)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from lightfm) (2.23.0)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.7/dist-packages (from lightfm) (1.4.1)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from lightfm) (1.0.2)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->lightfm) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->lightfm) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->lightfm) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->lightfm) (3.0.4)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->lightfm) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->lightfm) (3.0.0)

In [ ]:
pip install python-dateutil

Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil) (1.15.0)

###Importamos librerías

In [ ]:
import numpy as np
import pandas as pd

from datetime import datetime
from scipy.sparse import csr_matrix
from lightfm import LightFM
from dateutil import tz
from dateutil.parser import isoparse
from tqdm import tqdm

### Funciones auxiliares

In [ ]:
def time_subtract(date_1, date_2):
  '''
  Description: Funciòn para sustraer dos fechas dadas en el siguiente formato -> '2021-02-18 22:52:00
  Input:
        date_1: Fecha minuendo 
        date_2: Fecha sustraendo
  Output: 
        resultado de la resta date_2 - date_1
  '''
  #format in which the time is expected
  format = '%Y-%m-%d %H:%M:%S'
  #convert input datetime to list
  val_1 = datetime.strptime(date_1, format)
  val_2 = datetime.strptime(date_2, format)
  #compute the substraction
  diff = val_2 - val_1
  #convert the value to minutesç
  #diff_min = diff.total_seconds()/60

  return diff.total_seconds() / 60

In [ ]:
def rate_calculator(time_spent, asset_time):
  '''
  Description: To calculate a rating value (interaction with a content) using the amount of time that the user spent interacting with it
  Input:
  Output:
  '''
  #threshold = 0.5

  if (time_spent / asset_time) >= 0.4:
    rate = 1
  else: 
    rate = 0

  #Binarize output using a predefined threshold value
  #if rate > threshold:
  #  rate = 1
  #else: 
  #  rate = 0

  return rate

###Importamos los datasets

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/Data Science ICARO/Proyecto 3/train (1).csv', parse_dates=['tunein', 'tuneout']) 
print(data.head())

md = pd.read_csv('/content/drive/MyDrive/Data Science ICARO/Proyecto 3/metadata.csv', sep = ';', header = 0) 
print(md.head())

   customer_id  account_id  ...             tuneout  resume
0            0       90627  ... 2021-02-18 23:35:00       0
1            0       90627  ... 2021-03-25 00:01:00       0
2            1        3387  ... 2021-03-15 10:23:00       0
3            1        3387  ... 2021-03-15 11:18:00       1
4            1        3387  ... 2021-03-16 09:44:00       0

[5 rows x 7 columns]
   asset_id  content_id  ...          start_vod_date            end_vod_date
0     15188         0.0  ...  2017-12-01T00:00:00.0Z  2020-12-01T23:59:59.0Z
1     24940         1.0  ...  2017-12-15T00:00:00.0Z  2022-12-14T23:59:59.0Z
2     21939         2.0  ...  2018-01-25T00:00:00.0Z  2020-12-01T23:59:59.0Z
3      9005         3.0  ...  2018-05-27T00:00:00.0Z  2021-04-30T23:59:59.0Z
4      7391         4.0  ...  2019-05-02T00:00:00.0Z  2020-12-31T23:59:59.0Z

[5 rows x 30 columns]

In [ ]:
data = data.dropna()

###Creamos un df temporal de prueba.

In [ ]:
data_prueba = data.head(500000)

###Creamos rating feature sobre el dataset de train usando la cantidad de tiempo que pasó el usuario mirando el contenido.

In [ ]:
%%time
#calculate the amount of time that the user spent interacting with the asset
data_prueba['time_duration_min'] = data_prueba.apply(lambda x: time_subtract(str(x['tunein']),
                                                                               str(x['tuneout'])),
                                                                                axis = 1)

CPU times: user 38.7 s, sys: 454 ms, total: 39.2 s
Wall time: 42.6 s

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [ ]:
%%time

#Create a new column with the asset_id duration in minutes
data_prueba['runtime_min'] = data_prueba.asset_id.apply(lambda x: md[md.asset_id == x].run_time_min.values[0])

CPU times: user 8min 9s, sys: 27.1 s, total: 8min 36s
Wall time: 8min 33s

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
data_prueba.sort_values("account_id", ascending=True)

        account_id  asset_id  ...              tunein             tuneout
782            140    8496.0  ... 2021-01-25 23:16:00 2021-01-25 23:21:00
789            140    2709.0  ... 2021-03-22 13:58:00 2021-03-22 14:00:00
788            140   32263.0  ... 2021-03-21 20:42:00 2021-03-21 21:36:00
787            140   24599.0  ... 2021-03-14 11:08:00 2021-03-14 11:51:00
786            140   26697.0  ... 2021-01-26 23:57:00 2021-01-27 00:01:00
...            ...       ...  ...                 ...                 ...
388165      113772   29263.0  ... 2021-03-30 17:09:00 2021-03-30 17:43:00
388167      113772    7140.0  ... 2021-03-31 01:09:00 2021-03-31 01:34:00
388168      113772   27030.0  ... 2021-03-31 02:02:00 2021-03-31 02:15:00
388166      113772   29263.0  ... 2021-03-30 17:43:00 2021-03-30 17:46:00
316736      113789   24551.0  ... 2021-03-31 12:17:00 2021-03-31 12:24:00

[500000 rows x 6 columns]

In [ ]:
#select only the needed features
columns = ['account_id', 'asset_id', 'time_duration_min', 'runtime_min', 'tunein', 'tuneout']
data_prueba = data_prueba[columns]
data_prueba.head()

   account_id  asset_id  ...              tunein             tuneout
0       90627   18332.0  ... 2021-02-18 22:52:00 2021-02-18 23:35:00
1       90627   24727.0  ... 2021-03-24 23:17:00 2021-03-25 00:01:00
2        3387     895.0  ... 2021-03-15 10:05:00 2021-03-15 10:23:00
3        3387     895.0  ... 2021-03-15 10:23:00 2021-03-15 11:18:00
4        3387   26062.0  ... 2021-03-16 09:24:00 2021-03-16 09:44:00

[5 rows x 6 columns]

In [ ]:
data_prueba.shape

(500000, 6)

In [ ]:
data_prueba.duplicated(subset=["account_id", "asset_id"]).value_counts()

False    363231
True     136769
dtype: int64

In [ ]:
data_prueba2 = data_prueba.groupby(["account_id", "asset_id"], as_index=False).agg({"time_duration_min":"sum", "runtime_min": "mean", "tunein":"max", "tuneout":"max"})
data_prueba2.head(40)

    account_id  asset_id  ...              tunein             tuneout
0          140    2709.0  ... 2021-03-22 13:58:00 2021-03-22 14:00:00
1          140    4760.0  ... 2021-01-26 23:53:00 2021-01-26 23:57:00
2          140    8496.0  ... 2021-01-25 23:16:00 2021-01-25 23:21:00
3          140    9041.0  ... 2021-01-25 21:43:00 2021-01-25 23:06:00
4          140   19842.0  ... 2021-01-25 23:21:00 2021-01-25 23:26:00
5          140   24398.0  ... 2021-01-26 23:48:00 2021-01-26 23:53:00
6          140   24599.0  ... 2021-03-14 11:08:00 2021-03-14 11:51:00
7          140   26697.0  ... 2021-01-26 23:57:00 2021-01-27 00:01:00
8          140   29866.0  ... 2021-01-25 23:09:00 2021-01-25 23:14:00
9          140   30988.0  ... 2021-01-25 23:06:00 2021-01-25 23:09:00
10         140   32263.0  ... 2021-03-21 20:42:00 2021-03-21 21:36:00
11         141   22838.0  ... 2021-03-23 00:30:00 2021-03-23 01:32:00
12         142    3031.0  ... 2021-02-26 23:29:00 2021-02-26 23:47:00
13         142    3889.0  ... 2021-02-16 12:13:00 2021-02-16 12:21:00
14         142    5191.0  ... 2021-03-27 00:00:00 2021-03-27 00:03:00
15         142    6198.0  ... 2021-03-07 13:21:00 2021-03-07 15:07:00
16         142    6675.0  ... 2021-01-22 21:51:00 2021-01-22 23:03:00
17         142    7290.0  ... 2021-03-11 16:54:00 2021-03-11 18:16:00
18         142    8636.0  ... 2021-01-20 19:42:00 2021-01-20 21:08:00
19         142    8928.0  ... 2021-01-21 23:42:00 2021-01-21 23:56:00
20         142    9618.0  ... 2021-01-09 15:31:00 2021-01-09 15:40:00
21         142   11196.0  ... 2021-01-31 19:39:00 2021-01-31 19:59:00
22         142   11848.0  ... 2021-03-16 17:47:00 2021-03-16 18:09:00
23         142   12536.0  ... 2021-03-11 21:15:00 2021-03-11 21:38:00
24         142   17079.0  ... 2021-02-16 13:36:00 2021-02-16 14:09:00
25         142   19971.0  ... 2021-02-01 00:19:00 2021-02-01 00:23:00
26         142   23213.0  ... 2021-03-06 09:57:00 2021-03-06 10:09:00
27         142   28008.0  ... 2021-03-27 14:48:00 2021-03-27 15:31:00
28         142   30024.0  ... 2021-01-30 00:49:00 2021-01-30 01:20:00
29         142   32163.0  ... 2021-03-19 23:21:00 2021-03-19 23:27:00
30         143    1719.0  ... 2021-02-15 22:42:00 2021-02-15 23:09:00
31         143    8315.0  ... 2021-01-14 22:47:00 2021-01-14 22:49:00
32         143    9163.0  ... 2021-02-16 23:03:00 2021-02-16 23:17:00
33         143   10786.0  ... 2021-02-16 23:17:00 2021-02-16 23:19:00
34         143   11586.0  ... 2021-01-20 21:41:00 2021-01-20 21:55:00
35         143   12062.0  ... 2021-01-22 22:05:00 2021-01-22 22:40:00
36         143   13797.0  ... 2021-02-22 22:01:00 2021-02-22 23:45:00
37         143   14845.0  ... 2021-01-09 19:23:00 2021-01-09 19:38:00
38         143   17034.0  ... 2021-02-19 00:31:00 2021-02-19 00:49:00
39         143   17248.0  ... 2021-01-12 23:41:00 2021-01-13 00:21:00

[40 rows x 6 columns]

In [ ]:
# Probamos que haya sumado
data_prueba2[data_prueba2.account_id == 3387]

      account_id  asset_id  ...              tunein             tuneout
2410        3387     895.0  ... 2021-03-15 10:23:00 2021-03-15 11:18:00
2411        3387   26062.0  ... 2021-03-16 09:44:00 2021-03-16 09:47:00

[2 rows x 6 columns]

In [ ]:
# Verificamos que no haya duplicados
data_prueba2[(data_prueba2.duplicated(subset= ["account_id", "asset_id"]))]

Empty DataFrame
Columns: [account_id, asset_id, time_duration_min, runtime_min, tunein, tuneout]
Index: []

In [ ]:
data_prueba2.shape

(363231, 6)

In [ ]:
# Create a new dataset with the unique combination of 'account_id' and 'asset_id' to store the new 'rating' feature
# columns2 = ['account_id', 'asset_id', 'time_duration_min', 'runtime_min']
# df_filtered = data_prueba.drop_duplicates(subset = ['account_id', 'asset_id'])[columns2]
# df_filtered.head()

# NO UTLIZO ESTE CODIGO YA QUE EN VEZ DE ELIMINAR DUPLICADOS, LO QUE HICIMOS FUE SUMAR LOS MINUTOS QUE SE PASA VIENDO Y NO POR ELIMINAR
# PASE QUE CUANDO REALIZAMOS EL THRESHOLD NO ALCANCE EL MINIMO CUANDO EN REALIDAD LO HIZO EN DIFERENTES MOMENTOS

In [ ]:
df_filtered = data_prueba2

### Antes de traer Content ID del metadata trabajaremos con el analizando la informacion.

In [ ]:
md = md[['asset_id', 'content_id', 'show_type','run_time_min', 
         'start_vod_date', 'end_vod_date']]
md.head()

   asset_id  content_id  ...          start_vod_date            end_vod_date
0     15188         0.0  ...  2017-12-01T00:00:00.0Z  2020-12-01T23:59:59.0Z
1     24940         1.0  ...  2017-12-15T00:00:00.0Z  2022-12-14T23:59:59.0Z
2     21939         2.0  ...  2018-01-25T00:00:00.0Z  2020-12-01T23:59:59.0Z
3      9005         3.0  ...  2018-05-27T00:00:00.0Z  2021-04-30T23:59:59.0Z
4      7391         4.0  ...  2019-05-02T00:00:00.0Z  2020-12-31T23:59:59.0Z

[5 rows x 6 columns]

In [ ]:
# Al ser tutoriales con poca visualizacion efectiva y parte de una misma saga, se dropean
md[pd.isnull(md.content_id)]

       asset_id  content_id  ...          start_vod_date            end_vod_date
1540      15032         NaN  ...  2019-07-22T00:00:00.0Z  2020-12-14T23:59:59.0Z
1541      22963         NaN  ...  2019-07-22T00:00:00.0Z  2020-12-14T23:59:59.0Z
1542      32637         NaN  ...  2019-07-22T00:00:00.0Z  2020-12-14T23:59:59.0Z
1543      21822         NaN  ...  2019-07-22T00:00:00.0Z  2020-12-14T23:59:59.0Z
1544      17157         NaN  ...  2019-07-22T00:00:00.0Z  2020-12-14T23:59:59.0Z
1545      24583         NaN  ...  2019-07-22T00:00:00.0Z  2020-12-14T23:59:59.0Z
1546      27036         NaN  ...  2019-07-22T00:00:00.0Z  2020-12-14T23:59:59.0Z
18197      2046         NaN  ...  2019-07-22T00:00:00.0Z  2025-07-22T23:59:00.0Z
18198      1105         NaN  ...  2019-07-22T00:00:00.0Z  2025-07-22T23:59:00.0Z
18199     28435         NaN  ...  2019-07-22T00:00:00.0Z  2025-07-22T23:59:00.0Z
18200     17563         NaN  ...  2019-07-22T00:00:00.0Z  2025-07-22T23:59:00.0Z
18201     18599         NaN  ...  2019-07-22T00:00:00.0Z  2025-07-22T23:59:00.0Z
18202     27733         NaN  ...  2019-07-22T00:00:00.0Z  2025-07-22T23:59:00.0Z
18203     25592         NaN  ...  2019-07-22T00:00:00.0Z  2025-07-22T23:59:00.0Z
22895     15861         NaN  ...  2020-12-15T00:00:00.0Z  2025-07-22T23:59:00.0Z
22896      3938         NaN  ...  2020-12-15T00:00:00.0Z  2025-07-22T23:59:00.0Z
22897     12983         NaN  ...  2020-12-15T00:00:00.0Z  2025-07-22T23:59:00.0Z
22898     16881         NaN  ...  2020-12-15T00:00:00.0Z  2025-07-22T23:59:00.0Z
22899     19462         NaN  ...  2020-12-15T00:00:00.0Z  2025-07-22T23:59:00.0Z
22900     28382         NaN  ...  2020-12-15T00:00:00.0Z  2025-07-22T23:59:00.0Z
22901      6893         NaN  ...  2020-12-15T00:00:00.0Z  2025-07-22T23:59:00.0Z

[21 rows x 6 columns]

In [ ]:
df_filtered[(df_filtered.asset_id == 15188)]

Empty DataFrame
Columns: [account_id, asset_id, time_duration_min, runtime_min, tunein, tuneout]
Index: []

In [ ]:
md = md.dropna()

In [ ]:
md.head()

   asset_id  content_id  ...          start_vod_date            end_vod_date
0     15188         0.0  ...  2017-12-01T00:00:00.0Z  2020-12-01T23:59:59.0Z
1     24940         1.0  ...  2017-12-15T00:00:00.0Z  2022-12-14T23:59:59.0Z
2     21939         2.0  ...  2018-01-25T00:00:00.0Z  2020-12-01T23:59:59.0Z
3      9005         3.0  ...  2018-05-27T00:00:00.0Z  2021-04-30T23:59:59.0Z
4      7391         4.0  ...  2019-05-02T00:00:00.0Z  2020-12-31T23:59:59.0Z

[5 rows x 6 columns]

In [ ]:
#traer content_id
df_aux_md = md[['asset_id','content_id']]
df_aux_md.set_index(keys='asset_id',inplace=True)
df_aux_md.head()

          content_id
asset_id
15188            0.0
24940            1.0
21939            2.0
9005             3.0
7391             4.0

In [ ]:
df_filtered.shape

(363231, 6)

In [ ]:
df_aux_md.shape

(33119, 1)

In [ ]:
df_filtered.head()

   account_id  asset_id  ...              tunein             tuneout
0         140    2709.0  ... 2021-03-22 13:58:00 2021-03-22 14:00:00
1         140    4760.0  ... 2021-01-26 23:53:00 2021-01-26 23:57:00
2         140    8496.0  ... 2021-01-25 23:16:00 2021-01-25 23:21:00
3         140    9041.0  ... 2021-01-25 21:43:00 2021-01-25 23:06:00
4         140   19842.0  ... 2021-01-25 23:21:00 2021-01-25 23:26:00

[5 rows x 6 columns]

In [ ]:
df_filtered = (df_filtered.merge(df_aux_md, how = "left", on="asset_id")).dropna()
df_filtered.head()

   account_id  asset_id  ...             tuneout  content_id
0         140    2709.0  ... 2021-03-22 14:00:00       550.0
1         140    4760.0  ... 2021-01-26 23:57:00      3276.0
2         140    8496.0  ... 2021-01-25 23:21:00      3276.0
3         140    9041.0  ... 2021-01-25 23:06:00      2120.0
4         140   19842.0  ... 2021-01-25 23:26:00      3276.0

[5 rows x 7 columns]

In [ ]:
df_filtered.shape

(363216, 7)

In [ ]:
df_filtered.isna().sum()

account_id           0
asset_id             0
time_duration_min    0
runtime_min          0
tunein               0
tuneout              0
content_id           0
dtype: int64

In [ ]:
df_filtered[df_filtered.duplicated(subset=['account_id','content_id'])]

        account_id  asset_id  ...             tuneout  content_id
2              140    8496.0  ... 2021-01-25 23:21:00      3276.0
4              140   19842.0  ... 2021-01-25 23:26:00      3276.0
5              140   24398.0  ... 2021-01-26 23:53:00      3276.0
7              140   26697.0  ... 2021-01-27 00:01:00      3276.0
8              140   29866.0  ... 2021-01-25 23:14:00      3276.0
...            ...       ...  ...                 ...         ...
363221      113764    7265.0  ... 2021-03-29 02:32:00      2043.0
363223      113764   12329.0  ... 2021-03-28 22:26:00      2043.0
363224      113764   17429.0  ... 2021-03-31 14:19:00      2120.0
363225      113764   20145.0  ... 2021-03-29 00:34:00      2043.0
363226      113764   27874.0  ... 2021-03-29 03:37:00      2043.0

[233612 rows x 7 columns]

In [ ]:
df_filtered = df_filtered.drop_duplicates(subset=['account_id','content_id'],keep='first')

In [ ]:
df_filtered[(df_filtered["time_duration_min"].values/df_filtered["runtime_min"].values)>=0.2]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: RuntimeWarning: divide by zero encountered in true_divide
  """Entry point for launching an IPython kernel.

        account_id  asset_id  ...             tuneout  content_id
1              140    4760.0  ... 2021-01-26 23:57:00      3276.0
3              140    9041.0  ... 2021-01-25 23:06:00      2120.0
6              140   24599.0  ... 2021-03-14 11:51:00      2200.0
11             141   22838.0  ... 2021-03-23 01:32:00      4334.0
12             142    3031.0  ... 2021-02-26 23:47:00      2570.0
...            ...       ...  ...                 ...         ...
363219      113764    3740.0  ... 2021-03-29 01:24:00      2043.0
363222      113764    9041.0  ... 2021-03-30 15:47:00      2120.0
363227      113772    7140.0  ... 2021-03-31 01:34:00       135.0
363228      113772   27030.0  ... 2021-03-31 02:15:00       670.0
363229      113772   29263.0  ... 2021-03-30 17:46:00       524.0

[92386 rows x 7 columns]

In [ ]:
df_filtered["ratings"] = df_filtered["time_duration_min"].values/df_filtered["runtime_min"].values
df_filtered

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: RuntimeWarning: divide by zero encountered in true_divide
  """Entry point for launching an IPython kernel.

        account_id  asset_id  ...  content_id   ratings
0              140    2709.0  ...       550.0  0.021978
1              140    4760.0  ...      3276.0  1.000000
3              140    9041.0  ...      2120.0  1.566038
6              140   24599.0  ...      2200.0  0.860000
11             141   22838.0  ...      4334.0  0.794872
...            ...       ...  ...         ...       ...
363222      113764    9041.0  ...      2120.0  1.452830
363227      113772    7140.0  ...       135.0  1.041667
363228      113772   27030.0  ...       670.0  1.000000
363229      113772   29263.0  ...       524.0  0.218935
363230      113789   24551.0  ...      3891.0  0.166667

[129604 rows x 8 columns]

In [ ]:
# Definimos un resultado binario donde 1 represente que supera nuestro threshold y 0 no. 
# El threshold es de 0,4 entre el cociente de lo que cada cuenta vio en cada activo sobre el tiempo que dura ese asset id
df_filtered["ratings"] = np.where(df_filtered['ratings'] >= 0.4, 1, 0)
df_filtered.head()

    account_id  asset_id  ...  content_id  ratings
0          140    2709.0  ...       550.0        0
1          140    4760.0  ...      3276.0        1
3          140    9041.0  ...      2120.0        1
6          140   24599.0  ...      2200.0        1
11         141   22838.0  ...      4334.0        1

[5 rows x 8 columns]

In [ ]:
df_filtered.shape

(129604, 8)

In [ ]:
df_filtered = df_filtered.groupby(["account_id", "content_id", "tunein", "tuneout", "ratings", "runtime_min"], as_index=False, dropna=True).agg({"time_duration_min": "sum"})

In [ ]:
df_filtered.head()

   account_id  content_id  ... runtime_min time_duration_min
0         140       550.0  ...        91.0               2.0
1         140      2120.0  ...        53.0              83.0
2         140      2200.0  ...        50.0              43.0
3         140      3276.0  ...         4.0               4.0
4         141      4334.0  ...        78.0              62.0

[5 rows x 7 columns]

In [ ]:
%%time

#unique user_id values within the dataset
# user_ids = df_filtered.account_id.value_counts().index

#for every unique user_id value
#for user_id in user_ids:
  #bring all the unique assets (contents) that the user interact with
# asset_ids = df_filtered[df_filtered.account_id == user_id].asset_id.value_counts().index
  #for every unique asset
#  for asset_id in asset_ids:
    #create a temporal dataframe
#    temp_val = data_prueba[(data_prueba.asset_id == asset_id) & (data_prueba.account_id == user_id)]
    #total amount of time the user spent watching this unique asset
#    time_duration_min = np.sum(temp_val.time_duration_min.values)
    #calculate the rating using the time spent and the total duration of the asset
#    rating = rate_calculator(time_duration_min,
#                             temp_val.runtime_min.values[0])
    #create a mask (indexes) and assign the new rating values to the filtered dataset
#    mask = df_filtered[(df_filtered.asset_id == asset_id) & (df_filtered.account_id == user_id)].index
#    df_filtered.loc[mask, 'rating'] = rating

CPU times: user 3 µs, sys: 1e+03 ns, total: 4 µs
Wall time: 5.48 µs

###Separamos en train y test el dataset df_filtered

In [ ]:
print(df_filtered['tunein'].min())
print(df_filtered['tunein'].max())

2021-01-01 00:00:00
2021-03-31 23:59:00

In [ ]:
train = df_filtered[(df_filtered['tunein'] >= datetime(year= 2021, month= 1, day=1)) &
              (df_filtered['tunein'] < datetime(year=2021, month=3, day=1))]
train.head()

   account_id  content_id  ... runtime_min time_duration_min
1         140      2120.0  ...        53.0              83.0
3         140      3276.0  ...         4.0               4.0
5         142       525.0  ...        74.0              72.0
6         142      1529.0  ...         7.0               8.0
7         142      1709.0  ...        98.0              14.0

[5 rows x 7 columns]

In [ ]:
#amount of rows and columns in train dataset
print(train.shape)

#amount of different account_id
print(train.account_id.nunique())

(85416, 7)
15596

In [ ]:
test = df_filtered[(df_filtered['tunein'] >= datetime(year = 2021, month= 3, day =1))]
test.head()

   account_id  content_id  ... runtime_min time_duration_min
0         140       550.0  ...        91.0               2.0
2         140      2200.0  ...        50.0              43.0
4         141      4334.0  ...        78.0              62.0
8         142      1876.0  ...       120.0              19.0
9         142      2524.0  ...        82.0             164.0

[5 rows x 7 columns]

In [ ]:
#amount of rows and columns in test dataset
print(test.shape)

#amount of different account_id 
print(test.account_id.nunique())

(44188, 7)
12750

A continuación, vemos si tenemos usuarios cold start.

In [ ]:
test[~test.account_id.isin(train.account_id.unique())].account_id.nunique()

2338

Dropeamos las columnas 'tunein' y 'tuneout' de nuestros datasets ya que no los necesitaremos.

In [ ]:
columns = ['account_id', 'content_id', 'ratings']
df_filtered = df_filtered[columns]
train = train[columns]
test = test[columns]

###Creamos matriz de interacciones.

In [ ]:
matrix_col =  ['account_id','content_id','ratings']
interact = df_filtered[matrix_col]
interact[interact["account_id"]== 3388]

     account_id  content_id  ratings
871        3388       691.0        1
872        3388      2040.0        0
873        3388      2100.0        1
874        3388      3038.0        1
875        3388      3386.0        1
876        3388      3487.0        0

In [ ]:
inter_matrix = pd.pivot_table(interact, index="account_id", columns="content_id", values="ratings")
inter_matrix.head()

content_id  0.0     1.0     3.0     6.0     ...  4365.0  4366.0  4368.0  4369.0
account_id                                  ...
140            NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
141            NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
142            NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
143            NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
144            NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN

[5 rows x 3753 columns]

In [ ]:
inter_matrix.fillna(0, inplace = True)
inter_matrix.head()

content_id  0.0     1.0     3.0     6.0     ...  4365.0  4366.0  4368.0  4369.0
account_id                                  ...
140            0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
141            0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
142            0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
143            0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
144            0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0

[5 rows x 3753 columns]

In [ ]:
inter_matrix = inter_matrix.drop(columns=inter_matrix.columns[0])

In [ ]:
user_id = list(inter_matrix.index)
user_dict = {}
counter = 0 
for i in user_id:
    user_dict[i] = counter
    counter += 1

In [ ]:
user_dict

{140: 0,
 141: 1,
 142: 2,
 143: 3,
 144: 4,
 145: 5,
 146: 6,
 147: 7,
 148: 8,
 149: 9,
 150: 10,
 151: 11,
 152: 12,
 153: 13,
 154: 14,
 155: 15,
 156: 16,
 157: 17,
 158: 18,
 159: 19,
 160: 20,
 161: 21,
 162: 22,
 163: 23,
 164: 24,
 165: 25,
 166: 26,
 167: 27,
 168: 28,
 169: 29,
 170: 30,
 171: 31,
 172: 32,
 173: 33,
 174: 34,
 175: 35,
 176: 36,
 177: 37,
 178: 38,
 179: 39,
 180: 40,
 181: 41,
 182: 42,
 183: 43,
 184: 44,
 185: 45,
 186: 46,
 187: 47,
 188: 48,
 189: 49,
 190: 50,
 191: 51,
 192: 52,
 193: 53,
 194: 54,
 195: 55,
 196: 56,
 197: 57,
 198: 58,
 199: 59,
 200: 60,
 201: 61,
 202: 62,
 203: 63,
 204: 64,
 205: 65,
 206: 66,
 207: 67,
 208: 68,
 209: 69,
 210: 70,
 211: 71,
 212: 72,
 213: 73,
 214: 74,
 215: 75,
 216: 76,
 217: 77,
 218: 78,
 219: 79,
 220: 80,
 221: 81,
 222: 82,
 223: 83,
 224: 84,
 225: 85,
 226: 86,
 227: 87,
 228: 88,
 229: 89,
 230: 90,
 231: 91,
 232: 92,
 233: 93,
 234: 94,
 235: 95,
 236: 96,
 237: 97,
 238: 98,
 239: 99,
 240: 100,
 241: 101,
 242: 102,
 243: 103,
 244: 104,
 245: 105,
 246: 106,
 247: 107,
 248: 108,
 249: 109,
 250: 110,
 251: 111,
 252: 112,
 253: 113,
 254: 114,
 255: 115,
 256: 116,
 257: 117,
 258: 118,
 259: 119,
 260: 120,
 261: 121,
 262: 122,
 263: 123,
 264: 124,
 265: 125,
 266: 126,
 267: 127,
 268: 128,
 269: 129,
 270: 130,
 271: 131,
 272: 132,
 273: 133,
 274: 134,
 275: 135,
 276: 136,
 277: 137,
 278: 138,
 279: 139,
 280: 140,
 281: 141,
 282: 142,
 283: 143,
 284: 144,
 285: 145,
 2417: 146,
 3387: 147,
 3388: 148,
 3389: 149,
 3390: 150,
 3391: 151,
 3392: 152,
 3393: 153,
 3394: 154,
 3395: 155,
 3396: 156,
 3397: 157,
 3398: 158,
 3399: 159,
 3400: 160,
 3401: 161,
 3402: 162,
 3403: 163,
 3404: 164,
 3405: 165,
 3406: 166,
 3407: 167,
 3408: 168,
 3409: 169,
 3410: 170,
 3411: 171,
 3412: 172,
 3413: 173,
 3414: 174,
 3415: 175,
 3416: 176,
 3417: 177,
 3418: 178,
 3419: 179,
 3420: 180,
 3421: 181,
 3422: 182,
 3423: 183,
 3424: 184,
 3425: 185,
 3426: 186,
 3427: 187,
 3428: 188,
 3429: 189,
 3430: 190,
 3431: 191,
 3432: 192,
 3433: 193,
 3434: 194,
 3435: 195,
 3436: 196,
 3437: 197,
 3438: 198,
 3439: 199,
 3440: 200,
 3441: 201,
 3442: 202,
 3443: 203,
 3444: 204,
 3445: 205,
 3446: 206,
 3447: 207,
 3448: 208,
 3449: 209,
 3450: 210,
 3451: 211,
 3452: 212,
 3453: 213,
 3454: 214,
 3455: 215,
 3456: 216,
 3457: 217,
 3458: 218,
 3459: 219,
 3460: 220,
 3461: 221,
 3462: 222,
 3463: 223,
 3464: 224,
 3465: 225,
 3466: 226,
 3467: 227,
 3468: 228,
 3469: 229,
 3470: 230,
 3471: 231,
 3472: 232,
 3473: 233,
 3474: 234,
 3475: 235,
 3476: 236,
 3477: 237,
 3478: 238,
 3479: 239,
 3480: 240,
 3481: 241,
 3482: 242,
 3483: 243,
 3484: 244,
 3485: 245,
 3486: 246,
 3487: 247,
 3488: 248,
 3489: 249,
 3490: 250,
 3491: 251,
 3492: 252,
 3493: 253,
 3494: 254,
 3495: 255,
 3496: 256,
 3497: 257,
 3498: 258,
 3499: 259,
 3500: 260,
 3501: 261,
 3502: 262,
 3503: 263,
 3504: 264,
 3505: 265,
 3506: 266,
 3507: 267,
 3508: 268,
 3509: 269,
 3510: 270,
 3511: 271,
 3512: 272,
 3513: 273,
 3514: 274,
 3515: 275,
 3516: 276,
 3517: 277,
 3518: 278,
 3519: 279,
 3520: 280,
 3521: 281,
 3522: 282,
 3523: 283,
 3524: 284,
 3525: 285,
 3526: 286,
 3527: 287,
 3528: 288,
 3529: 289,
 3530: 290,
 3531: 291,
 3532: 292,
 3533: 293,
 3534: 294,
 3535: 295,
 3536: 296,
 3537: 297,
 3538: 298,
 3539: 299,
 3540: 300,
 3541: 301,
 3542: 302,
 3543: 303,
 3544: 304,
 3545: 305,
 3546: 306,
 3547: 307,
 3549: 308,
 3550: 309,
 3551: 310,
 3552: 311,
 3553: 312,
 3554: 313,
 3555: 314,
 3556: 315,
 3557: 316,
 3558: 317,
 3559: 318,
 3560: 319,
 3561: 320,
 3562: 321,
 3563: 322,
 3564: 323,
 3565: 324,
 3566: 325,
 3567: 326,
 3568: 327,
 3569: 328,
 3570: 329,
 3571: 330,
 3572: 331,
 3573: 332,
 3574: 333,
 3575: 334,
 3576: 335,
 3577: 336,
 3578: 337,
 3579: 338,
 3580: 339,
 3581: 340,
 3582: 341,
 3583: 342,
 3584: 343,
 3585: 344,
 3586: 345,
 3587: 346,
 3588: 347,
 3589: 348,
 3590: 349,
 3591: 350,
 3592: 351,
 3593: 352,
 3594: 353,
 3595: 354,
 3596: 355,
 3597: 356,
 3598: 357,
 3599: 358,
 3600: 359,
 3601: 360,
 3602: 361,
 3603: 362,
 3604: 363,
 3605: 364,
 3606: 365,
 3607: 366,
 3608: 367,
 3609: 368,
 3610: 369,
 3611: 370,
 3612: 371,
 3613: 372,
 3614: 373,
 3615: 374,
 3616: 375,
 3617: 376,
 3618: 377,
 3619: 378,
 3620: 379,
 3621: 380,
 3622: 381,
 3623: 382,
 3624: 383,
 3625: 384,
 3626: 385,
 3627: 386,
 3628: 387,
 3629: 388,
 3630: 389,
 3631: 390,
 3632: 391,
 3633: 392,
 3634: 393,
 3635: 394,
 3636: 395,
 3637: 396,
 3638: 397,
 3639: 398,
 3640: 399,
 3641: 400,
 3642: 401,
 3643: 402,
 3644: 403,
 3645: 404,
 3646: 405,
 3647: 406,
 3648: 407,
 3649: 408,
 3650: 409,
 3651: 410,
 3652: 411,
 3653: 412,
 3655: 413,
 3656: 414,
 3657: 415,
 3658: 416,
 3659: 417,
 3660: 418,
 3661: 419,
 3662: 420,
 3663: 421,
 3664: 422,
 3665: 423,
 3666: 424,
 3667: 425,
 3668: 426,
 3669: 427,
 3670: 428,
 3671: 429,
 3672: 430,
 3673: 431,
 3674: 432,
 3675: 433,
 3676: 434,
 3677: 435,
 3678: 436,
 3679: 437,
 3680: 438,
 3681: 439,
 3682: 440,
 3683: 441,
 3684: 442,
 3685: 443,
 3686: 444,
 3687: 445,
 3688: 446,
 3689: 447,
 3690: 448,
 3691: 449,
 3692: 450,
 3693: 451,
 3694: 452,
 3695: 453,
 3696: 454,
 3697: 455,
 3698: 456,
 3699: 457,
 3700: 458,
 3701: 459,
 3702: 460,
 3703: 461,
 3704: 462,
 3705: 463,
 3706: 464,
 3707: 465,
 3708: 466,
 3709: 467,
 3710: 468,
 3711: 469,
 3712: 470,
 3713: 471,
 3714: 472,
 3715: 473,
 3716: 474,
 3717: 475,
 3718: 476,
 3719: 477,
 3720: 478,
 3721: 479,
 3722: 480,
 3723: 481,
 3724: 482,
 3725: 483,
 3726: 484,
 3727: 485,
 3728: 486,
 3729: 487,
 3730: 488,
 3731: 489,
 3732: 490,
 3733: 491,
 3734: 492,
 3735: 493,
 3736: 494,
 3737: 495,
 3738: 496,
 3739: 497,
 3740: 498,
 3741: 499,
 3742: 500,
 3743: 501,
 3744: 502,
 3745: 503,
 3746: 504,
 3747: 505,
 3748: 506,
 3749: 507,
 3750: 508,
 3751: 509,
 3752: 510,
 3753: 511,
 3754: 512,
 3755: 513,
 3756: 514,
 3757: 515,
 3758: 516,
 3759: 517,
 3760: 518,
 3761: 519,
 3762: 520,
 3763: 521,
 3764: 522,
 3765: 523,
 3766: 524,
 3767: 525,
 3768: 526,
 3769: 527,
 3770: 528,
 3771: 529,
 3772: 530,
 3773: 531,
 3774: 532,
 3775: 533,
 3776: 534,
 3777: 535,
 3778: 536,
 3779: 537,
 3780: 538,
 3781: 539,
 3782: 540,
 3783: 541,
 3784: 542,
 3785: 543,
 3786: 544,
 3787: 545,
 3788: 546,
 3789: 547,
 3790: 548,
 3791: 549,
 3792: 550,
 3793: 551,
 3794: 552,
 3795: 553,
 3796: 554,
 3797: 555,
 3798: 556,
 3799: 557,
 3800: 558,
 3801: 559,
 3802: 560,
 3803: 561,
 3804: 562,
 3805: 563,
 3806: 564,
 3807: 565,
 3808: 566,
 3809: 567,
 3810: 568,
 3811: 569,
 3812: 570,
 3813: 571,
 3814: 572,
 3815: 573,
 3816: 574,
 3817: 575,
 3818: 576,
 3819: 577,
 3820: 578,
 3821: 579,
 3822: 580,
 3823: 581,
 3824: 582,
 3825: 583,
 3826: 584,
 3827: 585,
 3828: 586,
 3829: 587,
 3830: 588,
 3831: 589,
 3832: 590,
 3833: 591,
 3834: 592,
 3835: 593,
 3836: 594,
 3837: 595,
 3838: 596,
 3839: 597,
 3840: 598,
 3841: 599,
 3842: 600,
 3843: 601,
 3844: 602,
 3845: 603,
 3846: 604,
 3847: 605,
 3848: 606,
 3849: 607,
 3850: 608,
 3851: 609,
 3852: 610,
 3853: 611,
 3854: 612,
 3855: 613,
 3856: 614,
 3857: 615,
 3858: 616,
 3859: 617,
 3860: 618,
 3861: 619,
 3862: 620,
 3863: 621,
 3864: 622,
 3865: 623,
 3866: 624,
 3867: 625,
 3868: 626,
 3869: 627,
 3870: 628,
 3871: 629,
 3872: 630,
 3873: 631,
 3874: 632,
 3875: 633,
 3876: 634,
 3877: 635,
 3878: 636,
 3879: 637,
 3880: 638,
 3881: 639,
 3882: 640,
 3883: 641,
 3884: 642,
 3885: 643,
 3886: 644,
 3887: 645,
 3888: 646,
 3889: 647,
 3890: 648,
 3891: 649,
 3892: 650,
 3893: 651,
 3894: 652,
 3895: 653,
 3896: 654,
 3897: 655,
 3898: 656,
 3899: 657,
 3900: 658,
 3901: 659,
 3902: 660,
 3903: 661,
 3904: 662,
 3905: 663,
 3906: 664,
 3907: 665,
 3908: 666,
 3909: 667,
 3910: 668,
 3911: 669,
 3912: 670,
 3913: 671,
 3914: 672,
 3915: 673,
 3916: 674,
 3917: 675,
 3918: 676,
 3919: 677,
 3920: 678,
 3921: 679,
 3922: 680,
 3923: 681,
 3924: 682,
 3925: 683,
 3926: 684,
 3927: 685,
 3928: 686,
 3929: 687,
 3930: 688,
 3931: 689,
 3932: 690,
 3933: 691,
 3934: 692,
 3935: 693,
 3936: 694,
 3937: 695,
 3938: 696,
 3939: 697,
 3940: 698,
 3941: 699,
 3942: 700,
 3943: 701,
 3944: 702,
 3945: 703,
 3946: 704,
 3947: 705,
 3948: 706,
 3949: 707,
 3950: 708,
 3951: 709,
 3952: 710,
 3953: 711,
 3954: 712,
 3955: 713,
 3956: 714,
 3957: 715,
 3958: 716,
 3959: 717,
 3960: 718,
 3961: 719,
 3962: 720,
 3963: 721,
 3964: 722,
 3965: 723,
 3966: 724,
 3967: 725,
 3968: 726,
 3969: 727,
 3970: 728,
 3972: 729,
 3973: 730,
 3974: 731,
 3975: 732,
 3976: 733,
 3977: 734,
 3978: 735,
 3979: 736,
 3980: 737,
 3981: 738,
 3982: 739,
 3983: 740,
 3984: 741,
 3985: 742,
 3987: 743,
 3988: 744,
 3989: 745,
 3990: 746,
 3991: 747,
 3992: 748,
 3993: 749,
 3994: 750,
 3995: 751,
 3996: 752,
 3997: 753,
 3998: 754,
 3999: 755,
 4000: 756,
 4001: 757,
 4002: 758,
 4003: 759,
 4004: 760,
 4005: 761,
 4006: 762,
 4007: 763,
 4008: 764,
 4009: 765,
 4010: 766,
 4011: 767,
 4012: 768,
 4013: 769,
 4014: 770,
 4015: 771,
 4016: 772,
 4017: 773,
 4018: 774,
 4019: 775,
 4020: 776,
 4021: 777,
 4022: 778,
 4023: 779,
 4024: 780,
 4025: 781,
 4026: 782,
 4027: 783,
 4028: 784,
 4029: 785,
 4030: 786,
 4031: 787,
 4032: 788,
 4033: 789,
 4034: 790,
 4035: 791,
 4036: 792,
 4037: 793,
 4038: 794,
 4039: 795,
 4040: 796,
 4041: 797,
 4042: 798,
 4043: 799,
 4044: 800,
 4045: 801,
 4046: 802,
 4047: 803,
 4048: 804,
 4049: 805,
 4050: 806,
 4051: 807,
 4052: 808,
 4053: 809,
 4054: 810,
 4055: 811,
 4056: 812,
 4057: 813,
 4058: 814,
 4059: 815,
 4060: 816,
 4061: 817,
 4062: 818,
 4063: 819,
 4064: 820,
 4065: 821,
 4066: 822,
 4067: 823,
 4068: 824,
 4069: 825,
 4070: 826,
 4071: 827,
 4072: 828,
 4073: 829,
 4074: 830,
 4075: 831,
 4076: 832,
 4077: 833,
 4078: 834,
 4079: 835,
 4080: 836,
 4081: 837,
 4082: 838,
 4083: 839,
 4084: 840,
 4086: 841,
 4087: 842,
 4088: 843,
 4089: 844,
 4090: 845,
 4091: 846,
 4092: 847,
 4093: 848,
 4094: 849,
 4095: 850,
 4096: 851,
 4097: 852,
 4098: 853,
 4099: 854,
 4100: 855,
 4101: 856,
 4102: 857,
 4103: 858,
 4104: 859,
 4105: 860,
 4106: 861,
 4107: 862,
 4108: 863,
 4109: 864,
 4110: 865,
 4111: 866,
 4112: 867,
 4113: 868,
 4114: 869,
 4115: 870,
 4116: 871,
 4117: 872,
 4118: 873,
 4119: 874,
 4120: 875,
 4121: 876,
 4122: 877,
 4123: 878,
 4124: 879,
 4125: 880,
 4126: 881,
 4127: 882,
 4128: 883,
 4129: 884,
 4130: 885,
 4131: 886,
 4132: 887,
 4133: 888,
 4134: 889,
 4135: 890,
 4136: 891,
 4137: 892,
 4138: 893,
 4139: 894,
 4140: 895,
 4141: 896,
 4142: 897,
 4144: 898,
 4145: 899,
 4146: 900,
 4147: 901,
 4148: 902,
 4149: 903,
 4150: 904,
 4151: 905,
 4152: 906,
 4153: 907,
 4154: 908,
 4155: 909,
 4156: 910,
 4157: 911,
 4158: 912,
 4159: 913,
 4160: 914,
 4161: 915,
 4162: 916,
 4163: 917,
 4164: 918,
 4165: 919,
 4166: 920,
 4167: 921,
 4168: 922,
 4169: 923,
 4170: 924,
 4171: 925,
 4172: 926,
 4173: 927,
 4174: 928,
 4175: 929,
 4176: 930,
 4177: 931,
 4178: 932,
 4179: 933,
 4180: 934,
 4181: 935,
 4182: 936,
 4183: 937,
 4184: 938,
 4185: 939,
 4186: 940,
 4187: 941,
 4188: 942,
 4189: 943,
 4190: 944,
 4191: 945,
 4192: 946,
 4193: 947,
 4194: 948,
 4195: 949,
 4196: 950,
 4197: 951,
 4198: 952,
 4199: 953,
 4200: 954,
 4201: 955,
 4202: 956,
 4203: 957,
 4204: 958,
 4205: 959,
 4206: 960,
 4207: 961,
 4208: 962,
 4209: 963,
 4210: 964,
 4211: 965,
 4212: 966,
 4213: 967,
 4214: 968,
 4215: 969,
 4216: 970,
 4217: 971,
 4218: 972,
 4219: 973,
 4220: 974,
 4221: 975,
 4222: 976,
 4223: 977,
 4224: 978,
 4225: 979,
 4226: 980,
 4227: 981,
 4228: 982,
 4229: 983,
 4230: 984,
 4231: 985,
 4232: 986,
 4233: 987,
 4234: 988,
 4235: 989,
 4236: 990,
 4237: 991,
 4238: 992,
 4239: 993,
 4240: 994,
 4241: 995,
 4242: 996,
 4243: 997,
 4244: 998,
 4245: 999,
 ...}

In [ ]:
item_id = list(inter_matrix.columns)
item_dict = {}
counter = 0 
for i in item_id:
    item_dict[i] = counter
    counter += 1

In [ ]:
interactions_matrix_csr = csr_matrix(inter_matrix.values)
interactions_matrix_csr

<17934x3752 sparse matrix of type '<class 'numpy.float64'>'
	with 74597 stored elements in Compressed Sparse Row format>

In [ ]:
model = LightFM(random_state=0,
                loss='warp',
                learning_rate=0.03,
                no_components=100)

model = model.fit(interactions_matrix_csr,
                  epochs=100,
                  num_threads=16, verbose=False)

In [ ]:
md.end_vod_date = [isoparse(x) for x in md.end_vod_date]

In [ ]:
content_stale = md[md.end_vod_date >= datetime(year=2021, month=3, day=31, tzinfo=tz.gettz('UTC'))]
content_stale

       asset_id  content_id  ...          start_vod_date              end_vod_date
1         24940         1.0  ...  2017-12-15T00:00:00.0Z 2022-12-14 23:59:59+00:00
3          9005         3.0  ...  2018-05-27T00:00:00.0Z 2021-04-30 23:59:59+00:00
5         17760         5.0  ...  2019-06-27T00:00:00.0Z 2021-07-27 23:59:59+00:00
10        21684         9.0  ...  2020-01-03T00:00:00.0Z 2021-12-31 23:59:59+00:00
142       12502        36.0  ...  2020-08-30T00:00:00.0Z 2021-05-31 23:59:00+00:00
...         ...         ...  ...                     ...                       ...
33137     19624      4371.0  ...  2021-05-06T00:00:00.0Z 2023-05-06 23:59:59+00:00
33138     21935      4260.0  ...  2021-03-16T00:00:00.0Z 2023-03-16 23:59:00+00:00
33139      3683      1979.0  ...  2021-03-07T00:00:00.0Z 2021-11-20 23:59:00+00:00
33140     16810      1979.0  ...  2021-02-21T00:00:00.0Z 2021-11-20 23:59:00+00:00
33142      3779      1957.0  ...  2021-02-26T00:00:00.0Z 2024-01-28 23:59:00+00:00

[20332 rows x 6 columns]

In [ ]:
stale_content = md[md.end_vod_date <= datetime(year=2021, month=3, day=31, tzinfo=tz.gettz('UTC'))]
stale_content

       asset_id  content_id  ...          start_vod_date              end_vod_date
0         15188         0.0  ...  2017-12-01T00:00:00.0Z 2020-12-01 23:59:59+00:00
2         21939         2.0  ...  2018-01-25T00:00:00.0Z 2020-12-01 23:59:59+00:00
4          7391         4.0  ...  2019-05-02T00:00:00.0Z 2020-12-31 23:59:59+00:00
6          3619         6.0  ...  2019-11-26T00:00:00.0Z 2020-12-01 23:59:00+00:00
7          2472         7.0  ...  2019-12-02T00:00:00.0Z 2020-12-01 23:59:59+00:00
...         ...         ...  ...                     ...                       ...
33128     19105      1216.0  ...  2021-01-23T00:00:00.0Z 2021-02-23 23:59:00+00:00
33133     15082      1836.0  ...  2021-03-02T00:00:00.0Z 2021-03-04 23:59:00+00:00
33134     31035      1205.0  ...  2021-01-20T00:00:00.0Z 2021-01-27 23:59:00+00:00
33141     20468       943.0  ...  2021-02-17T00:00:00.0Z 2021-03-19 23:59:59+00:00
33143     30238      1041.0  ...  2021-02-01T00:00:00.0Z 2021-02-28 23:59:00+00:00

[12788 rows x 6 columns]

In [ ]:
# Prueba si el content 2200 estan en aquellos que estan en stale content, es decir ese content id vence antes del 31/03
stale_content[(stale_content.content_id == 2200)]

Empty DataFrame
Columns: [asset_id, content_id, show_type, run_time_min, start_vod_date, end_vod_date]
Index: []

In [ ]:
df_filtered.head()

   account_id  content_id  ratings
0         140       550.0        0
1         140      2120.0        1
2         140      2200.0        1
3         140      3276.0        1
4         141      4334.0        1

In [ ]:
popularity_df =df_filtered.groupby("content_id", as_index = False).agg({"ratings":"sum"}).sort_values(by="ratings", ascending=False)
popularity_df

      content_id  ratings
1617      2040.0     2019
3335      3900.0     1245
3545      4133.0      916
3244      3806.0      820
1562      1983.0      627
...          ...      ...
3205      3766.0        0
1239      1633.0        0
1251      1647.0        0
1259      1655.0        0
3752      4369.0        0

[3753 rows x 2 columns]

In [ ]:
#popular content
#popularity_df =df_filtered.groupby("content_id", as_index = False).agg({"account_id":"nunique"}).sort_values(by="account_id", ascending=False)

popularity_df.columns=["content_id", "popularity"]
#popularity_df.head()

In [ ]:
popularity_df.shape

(3753, 2)

In [ ]:
# El content valido va a ser aquel que encuentre en stale_content ya que este tiene como condicion aquellos que finalizan antes del 31/03 
# Con lo cual correriamos el riesgo de que le recomendemos una pelicula que ya no estaria disponible.
popular_content = [x for x in popularity_df.content_id.values if x not in stale_content.content_id][:20]

popular_content

[3900.0,
 729.0,
 3384.0,
 3382.0,
 712.0,
 3572.0,
 774.0,
 3386.0,
 3578.0,
 3863.0,
 3906.0,
 3592.0,
 3402.0,
 3897.0,
 3530.0,
 3902.0,
 3389.0,
 184.0,
 3397.0,
 3343.0]

In [ ]:
# Ejemplo opuesto al anterior ya que si no hicieramos este filtro, las recomendaciones estarian variando y tendriamos
# el riesgo dicho anteriormente de que el contenido ya no este disponible
popular_content_des = [x for x in popularity_df.content_id.values if x not in content_stale.content_id][:20]

popular_content_des

[2040.0,
 4133.0,
 3806.0,
 1983.0,
 2160.0,
 116.0,
 1316.0,
 1877.0,
 1573.0,
 1139.0,
 2942.0,
 3716.0,
 3210.0,
 1985.0,
 2627.0,
 604.0,
 1020.0,
 1462.0,
 3726.0,
 3381.0]

In [ ]:
%%time
model = model.fit(interactions_matrix_csr, epochs=10)

CPU times: user 5.28 s, sys: 7.68 ms, total: 5.28 s
Wall time: 5.39 s

In [ ]:
user_x = user_dict[140]
n_users, n_items = inter_matrix.shape
item_ids = np.arange(n_items)
#ACA GENERAMOS PREDICCIONES
preds = model.predict(user_ids=user_x, item_ids = item_ids)

In [ ]:
scores = pd.Series(preds) #

In [ ]:
scores.index = inter_matrix.columns
recomms_140 = ([x for x in scores.sort_values(ascending=False).index if x not in stale_content.content_id])[:20]
recomms_140

[3900.0,
 729.0,
 3384.0,
 3402.0,
 802.0,
 3863.0,
 184.0,
 327.0,
 3382.0,
 3393.0,
 3592.0,
 3868.0,
 817.0,
 3897.0,
 3906.0,
 3578.0,
 3844.0,
 3569.0,
 3929.0,
 3480.0]

In [ ]:
# scores = pd.Series(preds)
# scores.index= inter_matrix.columns
# recomms_140 = list(pd.Series(scores.sort_values(ascending=False).index))[:20] #obtenemos las primeras 20

In [ ]:
# recomms_140

In [ ]:
inter_matrix

content_id  1.0     3.0     6.0     7.0     ...  4365.0  4366.0  4368.0  4369.0
account_id                                  ...
140            0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
141            0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
142            0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
143            0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
144            0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
...            ...     ...     ...     ...  ...     ...     ...     ...     ...
113733         0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
113743         0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
113764         0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
113772         0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0
113789         0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0     0.0

[17934 rows x 3752 columns]

In [ ]:
pd.Series(test.account_id.unique())

0           140
1           141
2           142
3           145
4           146
          ...
12745    113733
12746    113743
12747    113764
12748    113772
12749    113789
Length: 12750, dtype: int64

In [ ]:
#definimos dict donde vamos a ir almacenando las recomendaciones
recomms_dict = {
    'user_id': [],
    'recomms': []
}

#obtenemos cantidad de usuarios y cantidad de items
n_users, n_items = inter_matrix.shape
item_ids = np.arange(n_items)

#por cada usuario del dataset de test, generamos recomendaciones
for user in tqdm(test.account_id.unique()):
    #COMPLETAR: Validar si el usuario se encuentra en la matriz de interacciones (inter_matrix.index)
    if user in list(inter_matrix.index):
      # Si el usuario esta en train, no es cold start. Usamos el modelo para recomendar
      user_x = user_dict[user] #buscamos el indice del usuario en la matriz (transformamos id a indice)

      #COMPLETAR: Generar las predicciones para el usuario x
      preds = model.predict(user_ids=user_x, item_ids = item_ids)

      #COMPLETAR: Basándose en el ejemplo anterior, ordenar las predicciones de menor a mayor y quedarse con 50.
      scores = pd.Series(preds)
      scores.index = inter_matrix.columns
      scores = list(pd.Series(scores.sort_values(ascending=False).index))[:20]

      #COMPLETAR: Obtener listado de contenidos vistos anteriormente por el usuario (en el set de train)
      watched_contents = df_filtered[df_filtered.account_id == user].content_id.unique()

      #COMPLETAR: Filtrar contenidos ya vistos y quedarse con los primeros 10
      recomms = [x for x in scores if (x not in watched_contents) & (x not in stale_content)] [:20]

      # Guardamos las recomendaciones en el diccionario
      recomms_dict['user_id'].append(user)
      recomms_dict['recomms'].append(recomms)
    
    # En este else trataremos a los usuarios que no están en la matriz (cold start)
    else:
      recomms_dict['user_id'].append(user)
      # Les recomendamos contenido popular
      recomms_dict['recomms'].append(popular_content)

100%|██████████| 12750/12750 [02:20<00:00, 91.03it/s]

In [ ]:
recomms_df = pd.DataFrame(recomms_dict)
recomms_df[2:3]

   user_id                                            recomms
2      142  [3572.0, 2040.0, 36.0, 1139.0, 1005.0, 680.0, ...

###Evaluación con MAP

Primero ordenamos los contenidos según los ratings (mayor a menor) que dieron los usuarios en el set de test.

Luego, agrupamos y armamos un listado de libros para cada usuario.

Este es el listado "ideal" contra el que vamos a comparar nuestras recomendaciones.

In [ ]:
test.head()

   account_id  content_id  ratings
0         140       550.0        0
2         140      2200.0        1
4         141      4334.0        1
8         142      1876.0        0
9         142      2524.0        1

In [ ]:

test['rbinar'] = np.where(test['ratings'] == 1, True, False)
test.head()

   account_id  content_id  ratings  rbinar
0         140       550.0        0   False
2         140      2200.0        1    True
4         141      4334.0        1    True
8         142      1876.0        0   False
9         142      2524.0        1    True

In [ ]:
test.sort_values([ "ratings"], ascending=False)

        account_id  content_id  ratings  rbinar
92478        36358      3600.0        1    True
53149        31124       591.0        1    True
84135        35166       116.0        1    True
109602       38619       244.0        1    True
109603       38619       262.0        1    True
...            ...         ...      ...     ...
62666        32327      3381.0        0   False
62664        32327      3035.0        0   False
62663        32327      2167.0        0   False
62662        32327       281.0        0   False
129603      113789      3891.0        0   False

[44188 rows x 4 columns]

In [ ]:
ideal_recomms = test[test.rbinar]\
                  .sort_values(by=["account_id", "rbinar"], ascending=False)\
                  .groupby(["account_id"], as_index=False)\
                  .agg({"content_id": "unique"})
ideal_recomms.head()

   account_id                                content_id
0         140                                  [2200.0]
1         141                                  [4334.0]
2         142          [2524.0, 3189.0, 3210.0, 4102.0]
3         146                                  [4249.0]
4         148  [1946.0, 1983.0, 2174.0, 3386.0, 4133.0]

In [ ]:
recomms_df.head()

   user_id                                            recomms
0      140  [3806.0, 3900.0, 2040.0, 4133.0, 3091.0, 1983....
1      141  [3900.0, 4133.0, 3806.0, 2040.0, 3502.0, 3598....
2      142  [3572.0, 2040.0, 36.0, 1139.0, 1005.0, 680.0, ...
3      145  [2040.0, 3900.0, 3806.0, 4133.0, 1983.0, 2160....
4      146  [2040.0, 3900.0, 1316.0, 1139.0, 2160.0, 4133....

In [ ]:
df_map = ideal_recomms.merge(recomms_df, how="left", left_on="account_id", right_on = 'user_id')[["account_id", "content_id", "recomms"]]
df_map.columns = ["account_id", "ideal", "recomms"]
df_map.head()

   account_id  ...                                            recomms
0         140  ...  [3806.0, 3900.0, 2040.0, 4133.0, 3091.0, 1983....
1         141  ...  [3900.0, 4133.0, 3806.0, 2040.0, 3502.0, 3598....
2         142  ...  [3572.0, 2040.0, 36.0, 1139.0, 1005.0, 680.0, ...
3         146  ...  [2040.0, 3900.0, 1316.0, 1139.0, 2160.0, 4133....
4         148  ...  [3900.0, 3806.0, 2040.0, 3381.0, 3384.0, 1005....

[5 rows x 3 columns]

In [ ]:
aps = [] # lista vacía para ir almacenando la AP de cada recomendación

for pred, label in df_map[["recomms", "ideal"]].values:
  n = len(pred) # cantidad de elementos recomendados
  arange = np.arange(n, dtype=np.int32) + 1. # indexamos en base 1 
  rel_k = np.in1d(pred[:n], label) # lista de booleanos que indican la relevancia de cada ítem
  tp = np.ones(rel_k.sum(), dtype=np.int32).cumsum() # lista con el contador de verdaderos positivos
  denom = arange[rel_k] # posiciones donde se encuentran los ítems relantes
  ap = (tp / denom).sum() / len(label) # average precision
  aps.append(ap)

In [ ]:
MAP = np.mean(aps)
print(f'mean average precision = {round(MAP, 5)}')

mean average precision = 0.0